* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(11,166,138);
  background: linear-gradient(90deg, rgba(11,166,138,0.8242647400757178) 8%, rgba(255,0,154,1) 53%, rgba(29,241,167,1) 80%);
}

#header {
  margin-top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    height: 6rem;
    width: 100%;
    background: yellow;
}

#logo {
    order: 1;
    height: 50%;
    width: 20%;
}

form {
  order: 2;
    width:24.7%;
    height: 55%;

}
.search {
  flex-grow: 2;
    order: 3;
    background: #f0f8ff;
    border: 10% solid black;
    width: 100%;
    height: 90%;
}
.button {
 /*   left:-4px; */
 order: 3;
    border: 0px solid black;
    background-color: black;
    color: #fafafa;
    font-weight: bold;
    height: 40%;
    min-width: 5%;

}
.button: hover {
    background: #008080;
    color: #fafafa;
}

.button:active

.active {
    border-bottom: 4px orange solid;
}

.timer {
  order: 4;
  align-self: flex-end;
}

.container {
  display: grid;
  grid-template-columns:[line1] 20% [line2] 20% [line3] 20% [line4] 20% [line5] 20% [line6] 20% [line7] 20%;
  grid-template-rows:auto;
  grid-template-areas:
      "hex1 . hex3 . hex5 . ads"
      ". hex2 . hex4 . . ads"
      "hex7 . hex6 . hex8 . ads"
      ". hex9 . hex10 . . ads"
      ". . hex11 . . . ads";
  width: 55%;
  height: 76vh;
  margin: 5% auto;

}


.hex {
  overflow: hidden;
  visibility: hidden;
  transform: rotate(120deg);
}

.hex-1 {
  overflow: hidden;
   width: 100%;
   height: 100%;
   transform: rotate(-60deg);
}

.hex-2 {
  width: 100%;
   height: 100%;
   visibility: visible;
   cursor: pointer;
  transform: rotate(-60deg);
  z-index: 1;
}

.hex1 {
  grid-area: hex1;
  width: 150%;
  height: 150%;
}

.hex2 {
  grid-area: hex2;
  width: 150%;
  height: 150%;
}

.hex3 {
  grid-area: hex3;
  width: 150%;
  height: 150%;
}

.hex4 {
  grid-area: hex4;
  width: 150%;
  height: 150%;
}

.hex5 {
  grid-area: hex5;
  width: 150%;
  height: 150%;
}

.hex6 {
  grid-area: hex6;
  width: 150%;
  height: 150%;
}

.hex7 {
  grid-area: hex7;
  width: 150%;
  height: 150%;
}

.hex8 {
  grid-area: hex8;
  width: 150%;
  height: 150%;
}

.hex9 {
  grid-area: hex9;
  width: 150%;
  height: 150%;
}

.hex10 {
  grid-area: hex10;
  width: 150%;
  height: 150%;
}

.hex11 {
  grid-area: hex11;
  width: 150%;
  height: 150%;
}

.ads {
  grid-area: ads;
  min-height: 100%;
  width: 100%;
  background: url(bestad.jpg) no-repeat;
  background-position:
  background-size: cover;
}
#hiddenPrice1 {
  position: absolute;
  left: 36%;
  top: 35%;
  opacity: 0.8;
  background-color: black;
  color: yellow;
  height: 40vh;
  width: 20vh;
  z-index: 2;
  border-radius: 6%;
  visibility: hidden;
}

#hiddenPrice2 {
  position: absolute;
  left: 46%;
  top: 35%;
  opacity: 0.8;
  border-radius: 6%;
  background-color: black;
  color: yellow;
  height: 40vh;
  width: 20vh;
  z-index: 2;
  visibility: hidden;
}

#hiddenPrice3 {
    position: absolute;
    left: 50%;
    top: 37%;
    opacity: 0.8;
    background-color: black;
    color: yellow;
    height: 15vh;
    width: 20vh;
    z-index: 2;
    border-radius: 6%;
    visibility: hidden;
}

#hiddenPrice4 {
    position: absolute;
    left: 65%;
    top: 43%;
    opacity: 0.8;
    border-radius: 6%;
    background-color: black;
    color: yellow;
    height: 15vh;
    width: 20vh;
    z-index: 2;
    visibility: hidden;
}
