* {
  margin: 0;
  padding: 0;
}

body {
  background: rgb(11,166,138);
  background: linear-gradient(90deg, rgba(11,166,138,0.8242647400757178) 8%, rgba(255,0,154,1) 53%, rgba(29,241,167,1) 80%);
}

#header {
  margin-top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-flow: row wrap;
    height: 6rem;
    width: 100%;
    background: yellow;
}

#logo {
    position: absolute;
    top: 13 %;
    float: left;
    height: 6vh;
    width: 30vh;
}

form {
    width:24.7%;
    margin: auto;
}
.search {
    padding: 2% 5%;
    background: #f0f8ff;
    border: 10% solid black;
    width: 80%;
    margin-top: 3%;
    display: inline-block;
}
.button {
 /*   left:-4px; */
 order: 3;
    border: 0px solid black;
    background-color: black;
    color: #fafafa;
    font-weight: bold;
    height: 40%;
    min-width: 5%;

}
.button: hover {
    background: #008080;
    color: #fafafa;
}

.button:active

.active {
    border-bottom: 4px orange solid;
}


.container {
  display: grid;
  grid-template-columns:[ads] 20% [line1] 20% [line2] 20% [line3] 20% [line4] 20% [line5] 20% [line6] 20% [line7] 20%;
  grid-template-rows:auto;
  grid-template-areas:
      "ads hex1 . hex3 . hex5 . ads"
      "ads . hex2 . hex4 . . ads"
      "ads hex7 . hex6 . hex8 . ads"
      "ads . hex9 . hex10 . . ads"
      "ads . . hex11 . . . ads";
  width: 55%;
  height: 76vh;
  margin: 5% auto;

}


.hex {
  overflow: hidden;
  visibility: hidden;
  transform: rotate(120deg);
}

.hex-1 {
  overflow: hidden;
   width: 100%;
   height: 100%;
   transform: rotate(-60deg);
}

.hex-2 {
  width: 100%;
   height: 100%;
   visibility: visible;
   cursor: pointer;
  transform: rotate(-60deg);
  z-index: 1;
}

.hex1 {
  grid-area: hex1;
  width: 150%;
  height: 150%;
}

.hex2 {
  grid-area: hex2;
  width: 150%;
  height: 150%;
}

.hex3 {
  grid-area: hex3;
  width: 150%;
  height: 150%;
}

.hex4 {
  grid-area: hex4;
  width: 150%;
  height: 150%;
}

.hex5 {
  grid-area: hex5;
  width: 150%;
  height: 150%;
}

.hex6 {
  grid-area: hex6;
  width: 150%;
  height: 150%;
}

.hex7 {
  grid-area: hex7;
  width: 150%;
  height: 150%;
}

.hex8 {
  grid-area: hex8;
  width: 150%;
  height: 150%;
}

.hex9 {
  grid-area: hex9;
  width: 150%;
  height: 150%;
}

.hex10 {
  grid-area: hex10;
  width: 150%;
  height: 150%;
}

.hex11 {
  grid-area: hex11;
  width: 150%;
  height: 150%;
}

.ads {
  grid-area: ads;
  min-height: 100%;
  width: 100%;
  background: url(bestad.jpg) no-repeat;
  background-position:
  background-size: cover;
}
#hiddenPrice1 {
  position: absolute;
  left: 20%;
  top: 35%;
  opacity: 0.8;
  background-color: black;
  color: yellow;
  height: 15vh;
  width: 20vh;
  z-index: 2;
  border-radius: 6%;
  visibility: hidden;
}

#hiddenPrice2 {
  position: absolute;
  left: 40%;
  top: 45%;
  opacity: 0.8;
  border-radius: 6%;
  background-color: black;
  color: yellow;
  height: 15vh;
  width: 20vh;
  z-index: 2;
  visibility: hidden;
}

#hiddenPrice3 {
    position: absolute;
    left: 50%;
    top: 37%;
    opacity: 0.8;
    background-color: black;
    color: yellow;
    height: 15vh;
    width: 20vh;
    z-index: 2;
    border-radius: 6%;
    visibility: hidden;
}

#hiddenPrice4 {
    position: absolute;
    left: 65%;
    top: 43%;
    opacity: 0.8;
    border-radius: 6%;
    background-color: black;
    color: yellow;
    height: 15vh;
    width: 20vh;
    z-index: 2;
    visibility: hidden;
}

#hiddenPrice5 {
    position: absolute;
    left: 75%;
    top: 35%;
    opacity: 0.8;
    border-radius: 6%;
    background-color: black;
    color: yellow;
    height: 15vh;
    width: 20vh;
    z-index: 2;
    visibility: hidden;
}

#hiddenPrice6 {
    position: absolute;
    left: 50%;
    top: 60%;
    opacity: 0.8;
    border-radius: 6%;
    background-color: black;
    color: yellow;
    height: 15vh;
    width: 20vh;
    z-index: 2;
    visibility: visible;
}

#hiddenPrice7 {
    position: absolute;
    left: 20%;
    top: 60%;
    opacity: 0.8;
    border-radius: 6%;
    background-color: black;
    color: yellow;
    height: 15vh;
    width: 20vh;
    z-index: 2;
    visibility: hidden;
}

#hiddenPrice8 {
    position: absolute;
    left: 75%;
    top: 60%;
    opacity: 0.8;
    border-radius: 6%;
    background-color: black;
    color: yellow;
    height: 15vh;
    width: 20vh;
    z-index: 2;
    visibility: visible;
}

#hiddenPrice9 {
    position: absolute;
    left: 30%;
    top: 78%;
    opacity: 0.8;
    border-radius: 6%;
    background-color: black;
    color: yellow;
    height: 15vh;
    width: 20vh;
    z-index: 2;
    visibility: visible;
}

#hiddenPrice10 {
    position: absolute;
    left: 65%;
    top: 78%;
    opacity: 0.8;
    border-radius: 6%;
    background-color: black;
    color: yellow;
    height: 15vh;
    width: 20vh;
    z-index: 2;
    visibility: visible;
}

#hiddenPrice11 {
    position: absolute;
    left: 53%;
    bottom: 0.01%;
    opacity: 0.8;
    border-radius: 6%;
    background-color: black;
    color: yellow;
    height: 15vh;
    width: 20vh;
    z-index: 2;
    visibility: visible;
}

.timer {
    width: 35%;
    margin: 10px;
 }
.box {
    float: left;
    width: 10%;
    height: 15%;
    background-color: darkturquoise;
    border: 2px solid black;
    top: 10%;
}
h3 {
    text-align: center;
}


* {
  margin:0;
  padding:0;
  
}
a{
  text-decoration: none;
}
.containerpicturerotate {
  /*换成absolute会直接靠在左边, 这里时设置容器(就是装图片的；不是外框)大小和位置*/
  grid-area: ads;
  position: relative;
  width: 300px;
  height: 200px;
  margin:100px auto 0 auto;
  overflow: hidden;
}
/*这里是设置外框位置*/
.containerpicturerotate .wrap {
  position: absolute;
  width: 2100px;
  height: 200px;
  z-index: 1;
}
.containerpicturerotate .wrap img {
  grid-area: ads;
  float: left;
  width: 300px;
  height: 200px;
}
.containerpicturerotate .buttons {
  position: absolute;
  right: 10px;
  bottom:40px;
  width: 150px;
  height: 10px;
  z-index: 1;
}
/*底下的那个1-5小圆点调节*/
.containerpicturerotate .buttons span {
  margin-left: 6px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color:rgb(255, 0, 255);
  text-align: center;
  color:white;
  cursor: pointer;
}
.containerpicturerotate .buttons span.on{
  background-color: red;
}
.containerpicturerotate .arrow {
  position: absolute;
  top: 35%;
  color: rgba(29,241,167,1);
  background-color: transparent;
  padding:0px 14px;
  border-radius: 50%;
  font-size: 50px;
  z-index: 2;
  display: none;
}
.containerpicturerotate .arrow_left {
  left: 10px;
}
.containerpicturerotate .arrow_right {
  right: 10px;
}
.containerpicturerotate:hover .arrow {
  display: block;
}
